html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
    height: 100%;
    touch-action: none; /* Prevents mobile scrolling while playing */
    outline: none; /* Removes the blue selection border on click */
}
